# Example .env file for UPS monitoring configuration

# Serial port where the UPS is connected
SERIAL_PORT=/dev/ttyACM0 # Optional, default is /dev/ttyACM0

# Baud rate for serial communication
BAUD_RATE=2560 # Optional, default is 2560 for Ragtech 1200VA UPS

# Timeout for serial communication in seconds
TIMEOUT=0.1 # Optional, default is 0.1 seconds

# We have tested the value AA0400801E9E with the Ragtech 1200VA UPS and it works fine. Other models may require different values
UPS_REQUEST_HEX=XXX # Required value

# Your Uptime Kuma push URL
UPTIME_KUMA_URL=https://uptimekuma.example.com/api/push/XXX # Required value

# Your Home Assistant webhook URL
HA_WEBHOOK_URL=https://homeassistant.example.com/api/webhook/XXX # Required value
